### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [509]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [511]:
# File to Load
file = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [513]:
# Use the length of list of screen names "SN", for total players.
total_players = len(purchase_data["SN"].value_counts())
player_count = pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [536]:

# Calculations for unique items, average price, purchase count, and revenue
unique_items = len((purchase_data["Item ID"]).unique())
avg_price = (purchase_data["Price"]).mean()
purchases_total = (purchase_data["Purchase ID"]).count()
total_revenue = (purchase_data["Price"]).sum()

# Data Frame
total_summary_df = pd.DataFrame({"Number of Unique Items":[unique_items],
                           "Average Price":[avg_price], 
                           "Number of Purchases": [purchases_total], 
                           "Total Revenue": [total_revenue]})

# Format 
total_summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [550]:
#Group data by Gender and filter duplicates
grouped_df = purchase_data.groupby(["Gender"])
unique_df = grouped_df.nunique()
#Total Gender
t_gender = unique_df["SN"].sum()
#Percentage and Count of Players
count = unique_df["SN"].unique()
percentage = unique_df["SN"]/ t_gender
#Create new dataframe
t_gender = pd.DataFrame({"Total Count":count,"Percentage of Players": percentage})
#Change percentage format and re order columns
t_gender["Percentage of Players"] = t_gender["Percentage of Players"].map("{:,.2%}".format) 
#Print final dataframe
t_gender.sort_values(["Total Count"], ascending = False)

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

## Purchasing Analysis (Gender)¶

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [551]:
#Purchase Count	
gender_purchcountdf = purchase_data.groupby("Gender")["Purchase ID"].nunique()
gender_purchcountdf.head()

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [552]:
#Average Purchase Price	
purch_averagep = purchase_data.groupby("Gender")["Price"].mean()
purch_averagep.round(2)

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [563]:
#Total Purchase Value
purch_value = purchase_data.groupby("Gender")["Price"].sum()
purch_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [564]:
#Avg Total Purchase per Person
purch_ppercav = purch_value/gender_countdf
purch_ppercav

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [566]:
# Count the total purchases by gender 
gender_purchcountdf = gender_stats["Purchase ID"].count()

# Average purchase prices by gender
purch_averagep = gender_stats["Price"].mean()

# Average purchase total by gender 
purch_value = gender_stats["Price"].sum()

# Average purchase total by gender divivded by purchase count by unique shoppers
avg_purchase_per_person = avg_purchase_total/total_count_gender

# Create data frame with obtained values 
gender_demographics = pd.DataFrame({"Purchase Count": gender_purchcountdf, 
                                    "Average Purchase Price": purch_averagep,
                                    "Average Purchase Value":purch_value,
                                    "Avg Purchase Total per Person": avg_purchase_per_person})

# Provide index in top left as "Gender"
gender_demographics.index.name = "Gender"

# Format with currency style
gender_demographics.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [586]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 99999]
groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [587]:
# Establish bins for ages
bins = [0, 9, 14, 19, 24, 29, 34, 39, 99999]
groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize the existing players using the age bins. Hint: use pd.cut
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],bins, labels=groups)
purchase_data

agrouped = purchase_data.groupby("Age Group")

# Calculate the numbers and percentages by age group 
# total players by age
t_count_age = agrouped["SN"].nunique()

# percentages by age 
perc_by_age = (t_count_age/total_players) * 100

# Create a summary data frame to hold the results
age_demo = pd.DataFrame({"Total Count": t_count_age,"Percentage of Players": perc_by_age})
age_demo.index.name = None

# Optional: round the percentage column to two decimal points
age_demo.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [593]:
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
#Purchase count
purchase_count = agrouped["Purchase ID"].count()

# average purchase price 
avg_purch_price = agrouped["Price"].mean()

# total purchase value 
purch_value = agrouped["Price"].sum()

# average purchase per person
avg_purch_person = total_purchase_value/t_count_age

# Create data frame with obtained values
age_demo = pd.DataFrame({"Purchase Count": purchase_count,
                                 "Average Purchase Price": avg_purch_price,
                                 "Total Purchase Value":purch_value,
                                 "Average Purchase Total per Person": avg_purch_person})

# Format the data frame with no index name in the corner
age_demo.index.name = None

# Format with currency style
age_demo.style.format({"Average Purchase Price":"${:,.2f}","Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [614]:
# names
tspenders_stats = purchase_data.groupby("SN")

# total of purchases by name
purch_c_spender = tspenders_stats["Purchase ID"].count()

# average purchase by name 
avg_purch_name = tspenders_stats["Price"].mean()

# Calculate purchase total 
purch_t_spenders = tspenders_stats["Price"].sum()

# Data frame
top_spenders = pd.DataFrame({"Purchase Count": purch_c_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purch_t_spenders})

#Optional: give the displayed data cleaner formatting
formatted = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()
formatted.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [622]:
# data frame with related information 
items = purchase_data[["Item ID", "Item Name", "Price"]]

# Grouping the item data by id and name 
item_stats = items.groupby(["Item ID","Item Name"])

# number of purchase times
purchase_c_item = item_stats["Price"].count()

# purchase value per item 
purch_value = (item_stats["Price"].sum())

popular_items = pd.DataFrame({"Purchase Count": purchase_c_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purch_value})

# Sort the purchase count column in descending order
# Optional: give the displayed data cleaner formatting

popular_format = popular_items.sort_values(["Purchase Count"], ascending=False).head()
popular_format.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [661]:
popular_format = popular_items.sort_values(["Total Purchase Value"],ascending=False).head()
popular_format.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## *** Here we can see a notorious trend

#84% of the total gamers are males against the 14% of female gamers

#As well the male population is the one who spends more money with a 96% of the purchases

#The top age demographic is 20 to 24 is the group with 258 gamers, at the bottom of this list we can find the group of 40+ years old with only 12 gamers.